* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1E1E1E;
}
.hero-text {
  left: 0;
  top: 0;
  width: calc(100% - 40px);
  padding: 20px;
}
.hero-text img {
  width: 100%;
}
.support-text {
  margin-top: 50px;
  margin-left: calc(50% - 400px);
  width: 800px;
  font-family: 'Open Sans', sans-serif;
  font-size: 39px;
  color: #F20D7F;
}
.support-text span {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .support-text {
    margin-left: calc(50% - 275px);
    width: 550px;
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .support-text {
    margin-left: calc(50% - 200px);
    width: 400px;
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .support-text {
    margin-left: calc(50% - 150px);
    width: 300px;
    font-size: 20px;
  }
}
@media screen and (max-width: 340px) {
  .support-text {
    margin-left: calc(50% - 125px);
    width: 250px;
    font-size: 16px;
  }
}
